html{
  -webkit-text-size-adjust:none;
}
.user-edit {
    background-image: url(icons/user_edit.gif) !important;
    width: 16px;
    height: 16px;
}

.user-add {
    background-image: url(icons/user_add.gif) !important;
    width: 16px;
    height: 16px;
}

.user-edit {
    background-image: url(icons/user_edit.gif) !important;
    width: 16px;
    height: 16px;
}

.user-delete {
    background-image: url(icons/user_delete.gif) !important;
    width: 16px;
    height: 16px;
}
.key-add {
    background-image: url(icons/key_add.png) !important;
    width: 16px;
    height: 16px;
}



